input {
  beats {
    port => {{ logstash_filebeat_port }}
  }
}

filter {
  if [type] in ["faas_system", "faas_auth", "faas_api"] {
    if [levelname] == "DEBUG" {
      drop {}
    }
    if [module] == "sslutils" {
      drop {}
    }
    mutate {
      remove_field => ["args"]
    }
    date {
      match => ["created", "UNIX"]
    }
    if [module] == "wsgi" {
      mutate {
        gsub => ["message","\"","'"]
      }
      grok {
         match => [ "message", "%{IPORHOST:clientip} \'%{WORD:method} %{NOTSPACE:request_url}(?: HTTP\/%{NUMBER:httpversion})\' status: %{NUMBER:response_code} len: (?:%{NUMBER:bytes}) time: %{NUMBER:duration}" ]
      }
      mutate {
         convert => ["response_code", "integer"]
         convert => ["bytes", "integer"]
         convert => ["duration", "float"]
      }
      translate {
        dictionary_path => "/etc/logstash/httpcode-dictionary.yml"
        field => "response_code"
        destination => "status"
      }
      translate {
        dictionary_path => "/etc/logstash/api-dictionary.yml"
        field => "request_url"
        destination => "resource"
        regex => true
      }
      if [resource] in ["heartbeat", "version"] {
        drop {}
      }
      translate {
        dictionary_path => "/etc/logstash/httpmethod-dictionary.yml"
        field => "method"
        destination => "action"
      }
      geoip {
         source => "clientip"
         target => "geoip"
      }
      if "_grokparsefailure" not in [tags] {
        mutate { remove_field => [ "msg", "levelno", "lineno" ] }
      }
      if [clientip] and [resource] not in ['authentication', 'ftm push'] {
        mutate {
          add_tag => ["faas_api"]
        }
      }
    }
  }

  if [type] == "faas_auth" {
    mutate {
      add_tag => ["faas_auth"]
    }
  }
  if [type] == "faas_api" {
    if [extra][resource] == "test" {
      drop {}
    }
    translate {
      dictionary_path => "/etc/logstash/httpmethod-dictionary.yml"
      field => "[extra][action]"
      destination => "action"
    }
    translate {
      dictionary_path => "/etc/logstash/httpcode-dictionary.yml"
      field => "[extra][status]"
      destination => "status"
    }
    mutate {
      copy => { "[extra][resource]" => "resource" }
      remove_field => [ "msg", "levelno", "lineno" ]
    }
    if [resource] != "authentication" {
      mutate {
        add_tag => ["faas_api"]
      }
    }

  }

}
