input {
  tcp {
    port => {{ logstash_syslog_port }}
    type => "syslog-fac"
  }
  udp {
    port => {{ logstash_syslog_port }}
    type => "syslog-fac"
  }
}
filter {
  if [type] =~ "syslog\-fac" {
    grok {
            patterns_dir => ["/etc/logstash/patterns"]
            match => [ "message", "<%{POSINT:syslog_pri}>%{MONTH:month}\s? %{MONTHDAY:monthday} %{TIME:time} %{WORD:process}\[%{POSINT:pid}\]:\s? %{KV_DATA:syslog_message}%{GREEDYDATA:fac_msg}" ]
         }
    kv {
      field_split_pattern => "\ "
      source => "syslog_message"
    }
    if [action] in ["Add", "Edit", "Delete"] {
      grok {
        patterns_dir => ["/etc/logstash/patterns"]
        match => [ "fac_msg", "(?:Edited|Added|Deleted)\s%{OBJ:target_object}\:\s%{GREEDYDATA:fac_obj}" ]
      }
      if [target_object] =~ "Local\sUser.*" {
        grok {
          match => ["fac_obj", "(?:%{NOTSPACE:user_name}\+%{NOTSPACE:namespace})\s?%{GREEDYDATA:fac_msg}"]
        }
      }
      if [target_object] == "User Group" {
        grok {
          match => ["fac_obj", "%{NOTSPACE:namespace}"]
        }
      }
    }
    if [subcategory] == "Web Service" {
      if [action] == "" {
        grok {
          patterns_dir => ["/etc/logstash/patterns"]
          match => ["fac_msg", "%{FAC_ACCESS_LOG}"]
        }
      }
      if [action] == "Authentication" {
        grok {
          match => ["fac_msg", ".*User\[%{WORD:namespace}\+%{WORD:user_name}\].*"]
        }
      }
    }
    mutate { add_field => { "logdate" => "%{month} %{monthday} %{time}" }}
    date {
      match => [ "logdate", "MMM dd HH:mm:ss" ]
      remove_field => ["month", "monthday", "time"]
      timezone => 'America/Los_Angeles'
    }
    if "_grokparsefailure" not in [tags] {
      mutate { remove_field => [ "message", "month", "monthday", "time", "logdate", "syslog_message", "fac_obj" ] }
    }
  }
}

