{% for db in DB %}
create database if not exists {{ db.name }};
{% if db.name in ('nova_api', 'nova_cell0') %}
GRANT ALL ON {{ db.name }}.* TO 'nova'@'%' IDENTIFIED BY 'nova';
{% else %}
GRANT ALL ON {{ db.name }}.* TO '{{ db.name }}'@'%' IDENTIFIED BY '{{ db.name }}';
{% endif %}
{% endfor %}
