[elastic-{{ ELK_VERSION }}.x]
name=Elastic repository for {{ ELK_VERSION }}.x packages
baseurl=https://artifacts.elastic.co/packages/{{ ELK_VERSION }}.x/yum
gpgcheck=1
gpgkey=https://artifacts.elastic.co/GPG-KEY-elasticsearch
enabled=1
autorefresh=1
type=rpm-md
