[ftc]
{%
  set _options = {"dev_mode": dev_mode, "fas_url": fas_url,
                  "portal_url": portal_url,
                  "metadata_url": metadata_url,
                  "es_url": es_url, "es_index": es_index,
                  "memcached_host": memcached_host,
                  "fc_host": fc_host, "fc_port": fc_port, "fc_https": fc_https,
                  "get_timeout": get_timeout, "post_timeout": post_timeout,
                  "session_timeout": session_timeout}
%}
{% for k,v in _options.items() if v is defined %}
{{ k }}={{ v }}
{% endfor %}
