<VirtualHost *:80>
    RewriteEngine On
    RewriteCond %{HTTPS} off
    RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI}
</VirtualHost>

Listen 443 https

<VirtualHost _default_:443>
    ServerName fas-gui.local
    SSLEngine on
    SSLCertificateFile {{ fas.home_dir }}/ssl/star_fortinet_com.crt
    SSLCertificateKeyFile {{ fas.home_dir }}/ssl/star_fortinet_com.key
    SSLCertificateChainFile {{ fas.home_dir }}/ssl/DigiCertCA.crt
    WSGIDaemonProcess fas-gui user={{ fas.user }} group={{ fas.group }} threads=5
    WSGIScriptAlias / {{ fas.app_dir }}/fas-gui.wsgi application-group=%{GLOBAL}
    aliasmatch ^/dashboard/(root|error).*$ {{ fas.app_dir }}/app/frontend/dist/index.html
    alias /dashboard/ {{ fas.app_dir }}/app/frontend/dist/
    alias /assets/ {{ fas.app_dir }}/app/frontend/dist/assets/
    <Directory {{ fas.app_dir }}>
        Order deny,allow
        Allow from all
    </Directory>
</VirtualHost>
