GRANT ALL ON *.* TO 'root'@'%' IDENTIFIED BY '{{ mysql_root_password }}';
GRANT ALL ON *.* TO 'root'@'localhost' IDENTIFIED BY '{{ mysql_root_password }}';
grant all on *.* to 'galera'@'localhost' identified by '{{ galera_backup_password }}';
