[Unit]
Description=Fortinet Balance Sync Server
After=syslog.target network.target

[Service]
Type=simple
User={{ fas_user }}
ExecStart=/usr/bin/fas-balance --config-file /etc/fas/fas.conf
PrivateTmp=true
NotifyAccess=all
KillMode=process

[Install]
WantedBy=multi-user.target
