[Unit]
Description=Fortinet FaaS Server
After=syslog.target network.target

[Service]
Type=notify
User={{ fas_user }}
ExecStart=/usr/bin/fas-server --config-file /etc/fas/fas.conf
PrivateTmp=true
NotifyAccess=all
KillMode=process

[Install]
WantedBy=multi-user.target
