[DEFAULT]
debug = False

log_dir = /var/log/fas/
bind_port = {{ fas_port }}
#default_domain_id = default_domain
use_ssl = True
use_json = True
wsgi_default_pool_size = 5


[service]
api_workers = 2

[database]
# Define the database - we are working with
connection =  mysql+pymysql://{{ DB_USER }}:{{ DB_PASS }}@{{ DB_HOST }}/fas

[auth]

# Allowed authentication methods. (list value)
#methods = external,password,token,oauth1

# Entrypoint for the password auth plugin module in the keystone.auth.password
# namespace. (string value)
#password = <None>

# Entrypoint for the token auth plugin module in the keystone.auth.token
# namespace. (string value)
#token = <None>

# Entrypoint for the external (REMOTE_USER) auth plugin module in the
# keystone.auth.external namespace. Supplied drivers are DefaultDomain and
# Domain. The default driver is DefaultDomain. (string value)
#external = <None>

# Entrypoint for the oAuth1.0 auth plugin module in the keystone.auth.oauth1
# namespace. (string value)
#oauth1 = <None>

[ssl]
ca_file = /etc/fas/ssl/ca/cacertkey1-sha2.pem
cert_file = /etc/fas/ssl/ca/cert201706291056.crt
key_file = /etc/fas/ssl/ca/cert201706291056.key

version = TLSv1_2

[forticare]
hkey_algorithm = 3des
alg_key = 153643274762893410398289
alg_iv = TWSDGTDT

[fernet_tokens]

# Directory containing Fernet token keys. (string value)
key_repository = /etc/fas/fernet-keys/

# This controls how many keys are held in rotation by keystone-manage
# fernet_rotate before they are discarded. The default value of 3 means that
# keystone will maintain one staged key, one primary key, and one secondary
# key. Increasing this value means that additional secondary keys will be kept
# in the rotation. (integer value)
max_active_keys = 3

# Amount of time a token should remain valid (in seconds). (integer value)
expiration = 3600

[features]
# True means enable the feature, default value is True
block_unactivated_customer = {{ unactivated_customer_flag }}

[saml]
enable = {{ saml_flag }}

